html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  padding-top: 15px;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to top right, #00072D, #D1D7E0);
}
.container {
  margin: 0 auto;
  width: 80%;
}
.container header nav {
  width: 100%;
  color: #D1D7E0;
  background-color: #152238;
  padding: 25px;
  display: flex;
  justify-content: flex-end;
  border-bottom: 3px solid #e67300;
}
.container header nav ul {
  display: flex;
  justify-content: space-evenly;
  flex-basis: 40%;
}
.container header nav li a {
  color: #D1D7E0;
  text-decoration: none;
  padding: 10px 30px;
  position: relative;
  transition: all 0.5s;
  flex: 1 0 auto;
  z-index: 0;
}
.container header nav li a:hover {
  color: #D1D7E0;
}
.container header nav li a:hover span {
  transform: scaleY(1);
}
.container header nav li span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: #e67300;
  left: 0;
  top: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 0.5s;
  z-index: -1;
}
.container header nav li span:nth-child( 2 ) {
  left: 25%;
  transition-delay: 150ms;
}
.container header nav li span:nth-child( 3 ) {
  left: 50%;
  transition-delay: 300ms;
}
.container header nav li span:nth-child( 4 ) {
  left: 75%;
  transition-delay: 450ms;
}
